

  body{
    width:100%;
    height:100%;
    font-family:Arial, sans-serif;
    font-size:16px;
    line-height:30px;
    /* padding:20px; */
    margin:0;
  }

  .title{
    text-transform:uppercase
  }

  .form-heading {
    background: #fdfdfd; /* fallback for old browsers */
    border-bottom: 2.5px solid #ad1212;
    border-radius: 2.5px;
    margin: 20px 0 20px;
    padding: 20px;
    opacity: 85%;
  }

  .form-heading .prg{
    color: #ad1212;
    font-size: 23px;
    display: flex;
    justify-content: center;
  }
  
  .inline{
    display:inline-block
  }

  label{
    min-width: 120px;
    position: relative;
    cursor: pointer;
    color: #ad1212;
    font-size: 15px;
  }

  .btn {
    background: #fdfdfd;
    border: 1px solid #ad1212;
    border-radius: 2.5px;
    color: #ad1212;
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  .btn:hover {
    background: #ad1212;
    color: #fdfdfd;
    border-radius: 2.5px;
  }
  
  .form-control {
    border: 1px solid #2c2c2c;
    border-radius: 2.5px;
    opacity: 60%;
    height: 27px;
    margin: auto;
  }
  
  #formstyle {
    background: #fdfdfd;
    border-radius: 2.5px;
    opacity: 85%;
  }

  #searchbar {
    background-color: rgb(85, 85, 85);
    padding: 15px;
  }

  label {
    margin-bottom: 2.5px;
    line-height: 20px;
  }

  option {
    color: #ad1212;
  }

  .comment {
    color: #ad1212;
  }

  select #type {
    padding-bottom: 0%;
  }

  .pics {
    display: flex;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
  }

  #commentaire {
    background-color: #fdfdfd;
    opacity: 85%;
    border: 1px solid #ad1212;
    border-radius: 2.5px;
    padding: 10px;
  }

  #note {
    color: black;
    opacity: 65%;
  }

  #area {
    background-color: rgb(190, 190, 190);
  }

  #search {
    background-color: white;
    opacity: 85%;
    margin-top: 50px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border: 1px solid #ad1212;
    border-radius: 2.5px;
  }

  #sendit {
    display: flex;
    justify-content: center;
  }

  #cont {
    background-color: white;
    opacity: 85%;
    margin-top: 50px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border: 1px solid #ad1212;
    border-radius: 2.5px;
  }