
  html{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
  }

  body{
    width:100%;
    height:100%;
    font-family:Arial, sans-serif;
    font-size:16px;
    line-height:30px;
    padding:20px;
    margin:0;
    background-image:url(tools/Images/Wazbg.jpg);
  }

  .title{
    text-transform:uppercase
  }

  .form-heading {
    background: #fdfdfd; /* fallback for old browsers */
    border-bottom: 2.5px solid #ad1212;
    border-radius: 2.5px;
    margin: 20px 0 20px;
    padding: 20px;
    opacity: 85%;
  }

  .form-heading .prg{
    color: #ad1212;
    font-size: 23px;
    display: flex;
    justify-content: center;
  }
  
  .inline{
    display:inline-block
  }

  label{
    min-width: 120px;
    position: relative;
    cursor: pointer;
    color: #ad1212;
    font-size: 15px;
  }

  .btn {
    background: #fdfdfd;
    border: 1px solid #ad1212;
    border-radius: 2.5px;
    color: #ad1212;
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  .btn:hover {
    background: #ad1212;
    color: #fdfdfd;
    border-radius: 2.5px;
  }
  
  .form-control {
    border: 1px solid #2c2c2c;
    border-radius: 2.5px;
    opacity: 60%;
    height: 27px;
    margin: auto;
  }
  
  #formstyle {
    background: #fdfdfd;
    border-radius: 2.5px;
    opacity: 85%;
  }

  label {
    margin-bottom: 2.5px;
    line-height: 20px;
  }

  option {
    color: #ad1212;
  }

  .comment {
    color: #ad1212;
  }